<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hengrtech.carheadline">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permissions.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <application
        android:name=".CustomApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.boot.BootActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.home.TodayActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.tab.MainTabActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.login.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.profile.ProfileDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.profile.AddTagsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.profile.IntroductionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.profile.NickNameActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.profile.ResetPhoneActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.boot.LeadActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".utils.ImagePagerActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.NewsDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.profile.SettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.discover.CarModelLibActivity"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>